header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 3vw;
  transition: background-color 0.35s ease;
  width: 100%;
  height: 4vw;
}

.header.scrolled {
  background-color: #060613;
}

.leftHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38%;
  background: none;
}

.leftHeader img {
  width: 6vw;
  height: 3vw;
  margin-right: 0;
  background: none;
}

.leftHeader a {
  background: none;
}

.leftHeader p {
  margin-top: 0.3vw;
  color: #ffffff;
  font-family: "Catamaran", Helvetica;
  font-weight: bold;
  font-size: 0.95vw;
  cursor: pointer;
  background: none;
}

.rightHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5vh;
  width: 26%;
  background: none;
}

.suscribeButton {
  padding: 0.2vw 0.8vw;
  font-weight: bolder;
  font-size: 0.9vw;
  font-family: "Catamaran", Helvetica;
  background-color: #00ffa1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sesionButton {
  padding: 0.2vw 0.8vw;
  font-weight: bolder;
  font-size: 0.9vw;
  font-family: "Catamaran", Helvetica;
  color: #ffffff;
  border-radius: 5px;
  border: solid 2px #ffffff;
  cursor: pointer;
  background: none;
}

.rightHeader img {
  width: 1.6vw;
  margin-left: 0;
  margin-right: 7vw;
  cursor: pointer;
  background: none;
}
